numpy==2.2.3
pandas==2.2.3
scipy==1.15.2
scikit-image==0.25.2
matplotlib==3.10.0
seaborn==0.13.2
tifffile==2025.2.18
tqdm==4.67.1
opencv-python==4.11.0.86
btrack==0.6.5
cellpose==3.1.1
torch==2.6.0
napari==0.6.1
