numpy==2.2.6
pandas==2.3.3
scipy==1.15.3
scikit-image==0.25.2
matplotlib==3.10.8
seaborn==0.13.2
tifffile==2025.5.10
tqdm==4.67.2
opencv-python-headless==4.13.0.90
btrack==0.7.0
cellpose==4.1.1
torch==2.10.0
napari==0.6.6